
[mysqld]
plugin-load=auth_socket.so
plugin_load_add='group_replication.so'
group_replication_ip_allowlist="127.0.0.0/24"
group_replication_group_name = "a1eba67d-747f-436a-929b-56857de72ecc"



### General settings
server-id=__NO__
port=__PORT__

report_host=localhost
character-set-server=latin1
collation-server=latin1_bin
transaction_isolation=READ-COMMITTED
max_connect_errors=100
explicit_defaults_for_timestamp=true
log_timestamps=system
default_authentication_plugin=mysql_native_password


## Directory and filenamesettings
datadir=/data/mysql__NO__/db
socket=/data/mysql__NO__/mysqld__NO__.sock
pid_file=/data/mysql__NO__/mysql__NO__.pid
log-error=/data/mysql__NO__/log/mysql__NO__.log
log-bin=/data/mysql__NO__/log/binlog/mysql-bin
relay-log=/data/mysql__NO__/log/relay/relay-bin
slow_query_log_file='/data/mysql__NO__/log/mysql__NO__-slow.log'
innodb-log-group-home-dir=/data/mysql__NO__/log/redo
innodb_undo_directory=/data/mysql__NO__/log/undo

slow_query_log=on
log_slow_admin_statements=on
log_slow_extra=on



# Replication settings
log-slave-updates=on
master_info_repository=table
relay_log_info_repository=table

#MyISAM
key_buffer_size=1M


# Innodb settings
transaction_isolation=READ-COMMITTED
innodb_dedicated_server=on
innodb_undo_log_truncate=on
innodb_max_undo_log_size=1g
innodb_file_per_table=on
innodb_buffer_pool_size=10M
innodb_log_buffer_size=1m

innodb_buffer_pool_instances=1
innodb_buffer_pool_size=5242880
innodb_doublewrite=off
innodb_log_file_size=4194304

# ClusterSet 
sql_require_primary_key=on
binlog_checksum=none
enforce_gtid_consistency=on
gtid_mode=on
lower_case_table_names=__NO__
transaction_write_set_extraction=XXHASH64
binlog_transaction_dependency_tracking=writeset
replica_parallel_type=logical_clock
replica_preserve_commit_order=on

#!includedir /apps/init/custom/

[client]
port=40000
socket=/data/mysql__NO__/mysqld__NO__.sock


[mysql]
init-command='set autocommit=off, global transaction_isolation="read-committed"'
