[Unit]
Description=MySQL Single Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=notify
User=mysql
Group=mysql

#PIDFile=/run/mysqld/mysqld.pid
PIDFile=/TestEnv/var/run/mysqld/mysql_single.pid

BPermissionsStartOnly=true
#ExecStartPre=/usr/share/mysql/mysql-systemd-start pre
ExecStart=/TestEnv/binaries/mysql-8.2.0-linux-glibc2.28-x86_64/bin/mysqld
TimeoutSec=infinity
Restart=on-failure
RuntimeDirectory=mysqld
RuntimeDirectoryMode=755
LimitNOFILE=10000

# Set enviroment variable MYSQLD_PARENT_PID. This is required for restart.
Environment=MYSQLD_PARENT_PID=1

