
[mysqld]
server-id=__NODE__
datadir  = /database/cluster/node__NODE__/db
socket   = /database/cluster/node__NODE__/mysql.sock
log-error= /database/cluster/node__NODE__/mysqld.log
pid-file = /database/cluster/node__NODE__/mysqld.pid
log-bin
log_slave_updates
expire_logs_days=7

bind-address=127.0.0.__NODE__

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

wsrep_provider=/usr/lib64/galera3/libgalera_smm.so
 wsrep_cluster_name=pxc-cluster
 wsrep_cluster_address=gcomm://127.0.0.1,127.0.0.2,127.0.0.3
 wsrep_node_name=pxc__NODE__
 wsrep_node_address=127.0.0.__NODE__
 wsrep_sst_method=xtrabackup-v2
 wsrep_sst_auth=sstuser:password
 pxc_strict_mode=ENFORCING
 binlog_format=ROW
 default_storage_engine=InnoDB
 innodb_autoinc_lock_mode=2
