
[mysqld]
plugin-load=auth_socket.so
#plugin_load_add='group_replication.so'
#group_replication_ip_allowlist="192.168.1.0/24"

server-id=16
port=3306
report_host=mysql1.myguest.virtualbox.org
character-set-server=latin1
collation-server=latin1_bin

log-error=/var/log/mysql/mysql.log
max_connect_errors=100000

datadir=/var/lib/mysql
log-bin=/var/lib/mysql/mysql-bin
log-slave-updates=on
innodb_dedicated_server=on
innodb_undo_log_truncate=on
innodb_max_undo_log_size=1g
relay-log=relay-bin
sql_require_primary_key=on

innodb_file_per_table=on
innodb_buffer_pool_size=10M
innodb_log_buffer_size=1m
transaction_isolation=READ-COMMITTED
max_connections=20

explicit_defaults_for_timestamp=true
log_timestamps=system
default_authentication_plugin=mysql_native_password

binlog_checksum=none
enforce_gtid_consistency=on
gtid_mode=on
lower_case_table_names=1
master_info_repository=table
relay_log_info_repository=table
transaction_write_set_extraction=XXHASH64
binlog_transaction_dependency_tracking=writeset
replica_parallel_type=logical_clock
replica_preserve_commit_order=on

slow_query_log_file='/var/log/mysql/mysql-slow.log'
slow_query_log=on
log_slow_admin_statements=on
log_slow_extra=on

#!includedir /apps/init/custom/

[client]
port=3306
socket=/var/run/mysqld/mysqld.sock


[mysql]
init-command='set autocommit=off, global transaction_isolation="read-committed"'
