
[auto]
server_uuid = "cc78ef4d-d8e4-4610-a424-3ce62e250c01"

[mysqld]
plugin-load=auth_socket.so
authentication_policy=caching_sha2_password

server-id=19
port=3306
report_host=mysql2.myguest.virtualbox.org
character-set-server=latin1
collation-server=latin1_bin

log-error=/var/log/mysql/mysql.log
max_connect_errors=100000

log_replica_updates=on
innodb_max_undo_log_size=1g
relay-log=relay-bin

innodb_file_per_table=on
innodb_buffer_pool_size=10M
innodb_log_buffer_size=1m
max_connections=20

explicit_defaults_for_timestamp=true
log_timestamps=system

binlog_checksum=none
#enforce_gtid_consistency=on
#gtid_mode=on

slow_query_log_file='/var/log/mysql/mysql-slow.log'
slow_query_log=on
log_slow_admin_statements=on
log_slow_extra=on

[client]
port=3306
socket=/var/run/mysqld/mysqld.sock


